{% extends "layout.html.twig" %}
{% block title %} Registro {% endblock %}
{% block stylesheets %} {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> {% endblock %}
{% block main_content %}
    <div class="mt-4">
        <form action="{{ path('futapp_register') }}" method="post" enctype="multipart/form-data" role="form">
            <legend>Registrase en FutAPP</legend>

            {% if app.session.flashBag.has('error_registro') %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error</strong>
                    <div>
                    {% for message in app.session.flashBag.get('error_registro') %}

                            {{ message }}

                    {% endfor %}
                    </div>

                </div>
            {% endif %}

            <div class="row mb-4">
                <div class="col-6">
                    <label class="mt-4 mb-2">Nombre</label>
                    {% if app.session.flashBag.has('nombre') %}
                        {% set value='' %}
                        {% for nombre in app.session.flashBag.get('nombre') %}
                            {% set value = nombre %}
                        {% endfor %}
                        <input name="nombre" placeholder="Nombre..." class="form-control"
                               value="{{ value }}" required/>
                    {% else %}
                        <input name="nombre" placeholder="Nombre..." class="form-control"
                               required/>
                    {% endif %}

                </div>
                <div class="col-6">
                    <label class="mt-4 mb-2">Apellidos</label>
                    {% if app.session.flashBag.has('apellidos') %}
                        {% set value='' %}
                        {% for apellidos in app.session.flashBag.get('apellidos') %}
                            {% set value = apellidos %}
                        {% endfor %}
                        <input type="text" name="apellidos" placeholder="Apellidos.." value="{{ value }}"
                               class="form-control" required/>

                    {% else %}
                        <input type="text" name="apellidos" placeholder="Apellidos.."
                               class="form-control" required/>
                    {% endif %}

                </div>
            </div>

            <div class="row mb-4">
                <div class="col-6">
                    <label class="mb-2">Email</label>
                    {% if app.session.flashBag.has('email') %}
                        {% set value='' %}
                        {% for email in app.session.flashBag.get('email') %}
                            {% set value = email %}
                        {% endfor %}
                        <input type="email" name="email" placeholder="example@gmail.com" class="form-control"
                               value="{{ value }}" required/>
                    {% else %}
                        <input type="email" name="email" placeholder="example@gmail.com" class="form-control"
                               required/>
                    {% endif %}

                </div>
                <div class="col-6">
                    <label class="mb-2">Teléfono</label>
                    {% if app.session.flashBag.has('email') %}
                        {% set value='' %}
                        {% for telefono in app.session.flashBag.get('telefono') %}
                            {% set value = telefono %}
                        {% endfor %}
                        <input type="text" name="telefono" placeholder="65541234" class="form-control"
                               value="{{ value }}"/>
                    {% else %}
                        <input type="text" name="telefono" placeholder="65541234" class="form-control"/>
                    {% endif %}
                </div>

            </div>

            <div class="row mb-4">
                <div class="col-6">
                    <label class="mb-2">Contraseña</label>
                    <input type="password" name="password" class="form-control" minlength="5" required/>
                </div>
                <div class="col-6">
                    <label class="mb-2">Vuelve a repetir la contraseña</label>
                    <input type="password" name="password2" class="form-control" minlength="5" required/>
                </div>

            </div>


            <label class="mb-2">Foto de Perfil (JPG o PNG)</label>
            <input type="file" name="foto" class="form-control mb-4" id="inputGroupFile02">


            <div class="g-recaptcha" data-sitekey="6Lf94UsaAAAAAAlZH5v-pwkRO6TZvfpEmLtNzgAC"></div>
            <button type="submit" class="mt-3 btn btn-md btn-primary">Enviar</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

