{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Partidos {% endblock %}

{% block main_content %}

    <h1 class="mt-4 mb-4">Últimos Partidos Asignados </h1>

    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% set item = 0 %}
                {% for partido in partidos %}
                    <li data-target="#myCarousel" data-slide-to="{{ item }}" {% if item ==0 %}class="active"{% endif %}></li>
                    {% set item=item+1 %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% set itemcard=0 %}
                {% for partido in partidos %}
                    <div {% if itemcard ==0 %}class="carousel-item active"{% else%} class="carousel-item" {% endif %}>
                        <div class="row">
                            <img class="col-6"  src="{% if partido.equipolocal.foto is empty %}/imgs/escudodefecto.jpg{% else %}{{ asset('uploads/fotos/' ~ partido.equipolocal.foto) }}{% endif %}">
                            <img class="col-6"  src="{% if partido.equipoVisitante.foto is empty %}/imgs/escudodefecto.jpg{% else %}{{ asset('uploads/fotos/' ~ partido.equipoVisitante.foto) }}{% endif %}">
                        </div>
                        <div class="container">
                            <div class="carousel-caption text-center">
                                <div class="row">
                                    <h1 class="col-4">{{ partido.equipoLocal.nombre }}</h1>
                                    <img class="col-4 " src="{{ asset('imgs/vs.png') }}" style="height: 120px;"/>
                                    <h1 class="col-4">{{ partido.equipoVisitante.nombre }}</h1>

                                </div>

                                <p><a class="btn btn-lg btn-primary" href="{{ path('futapp_detalle_partido',{id: partido.id}) }}" role="button">Ver Detalle</a></p>
                            </div>
                        </div>
                    </div>
                    {% set itemcard=itemcard+1 %}
                {% endfor %}
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>

    <div class="row mt-5">
        <h1 class="col-8">Todos los Partidos</h1>
        <div class="col-4">
            <form action="{{ path('fut_app_inicio') }}" method="post">
                <div class="row">
                    <div class="col-8">
                        <input placeholder="Nombre Equipo o Árbitro" class="form-control" name="nombreequipo"/>
                    </div>
                    <div class="btn-group col-3">
                        <button type="submit" class="btn btn-md btn-secondary">
                            Buscar
                        </button>
                        <button type="button" class="btn btn-md btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-filter" style="font-size: 20px;"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('fut_app_inicio') }}">Todos</a>
                            <a class="dropdown-item" href="{{ path('fut_app_partidos_disputados') }}">Disputados</a>
                            <a class="dropdown-item" href="{{ path('fut_app_partidos_no_disputados') }}">Sin Disputar</a>
                        </div>
                    </div>
                </div>


            </form>

        </div>
    </div>
    <div class="card-columns mt-4">

        <div class="row">
            {% for partido in partidosfilter %}

                <div class="col-4 mb-4">
                    {% include 'fut_app/parts/partido.parts.html.twig' with {
                        'partido':partido
                    } only %}
                </div>
            {% endfor %}
        </div>


    </div>




    <p>{{ app.request.basePath }}</p>
{% endblock %}
