{% extends "layout.html.twig" %}

{% block title %} {{ parent() ~ user.nombre ~ ' ' ~ user.apellidos }} {% endblock %}

{% block main_content %}
    <div class="mt-4">
        <div class="col-3">
            <img class="w-100"
                 src="{% if user.foto is empty %}/imgs/avatar.jpg{% else %}{{ asset('uploads/fotos/' ~ user.foto) }}{% endif %}"/>
        </div>
        <div class="col-9">
            <h4 class="mt-2">{{ user.nombre ~ ' ' ~ user.apellidos }}</h4>
            <h4>
                <small class="text-muted">{{ user.telefono }}</small>
            </h4>
            <h4>
                <small class="text-muted">{{ user.email }}</small>
            </h4>
            <h4>
                <small class="text-muted"
                       style="font-style: italic">{% if user.role == 'ROLE_ADMIN' %}ADMINISTRADOR {% else %}ÁRBITRO{% endif %}</small>
            </h4>

            {% if app.user is not empty %}
                <div class="row mt-3">
                    {% if user.id == app.user.id or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('futapp_usuario_edit_perfil',{id: user.id}) }}" class="col-3 btn btn-primary"
                           style="margin-right: 5px;">Editar perfil <i
                                    class="fa fa-edit"></i></a>
                        {% if user.id == app.user.id %}
                            <a href="{{ path('fut_app_mensajes') }}" class="col-3 btn btn-info">Mis
                                mensajes
                                <i class="fa fa-envelope"></i>
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') and user.id != app.user.id %}
                            <button type="button" class="col-3 btn btn-danger" data-toggle="modal"
                                    data-target="#exampleModalCenter" style="margin-right: 5px">

                                Borrar <i class="fa fa-trash"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Borrar
                                                al {{ user.nombre }}</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                    aria-label="Close">

                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-warning">
                                                Estas seguro de querer elimnar a este equipo? Los partidos en los haya
                                                participado se
                                                borrarán también...
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <a href="{{ path('futapp_borrar_usuario',{id: user.id}) }}"
                                               class="col-3 btn btn-danger">Borrar
                                                <i class="fa fa-trash"></i></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                    {% endif %}
                    {% if user.id != app.user.id %}
                        <a href="{{ path('fut_app_chat',{id: user.id}) }}" class="col-3 btn btn-info"
                           style="margin-right: 5px;">Enviar un mensaje <i class="fa fa-comment"></i></a>

                    {% endif %}
                </div>
            {% endif %}

        </div>

    </div>

    <div class="mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="true">Nuevos</a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="false">Pasados</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card-columns mt-4">
                    <div class="row">
                        {% for partido in partidospasados %}
                            <div class="col-4 mb-4">
                                {% include 'fut_app/parts/partido.part.html.twig' with {
                                    'partido':partido
                                } only %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card-columns mt-4">
                    <div class="row">
                        {% for partido in partidosnuevos %}
                            <div class="col-4 mb-4">
                                {% include 'fut_app/parts/partido.part.html.twig' with {
                                    'partido':partido
                                } only %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}