{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} PartidosForm {% endblock %}

{% block main_content %}
    <div class="mt-4">

        {% if error is defined and error is not empty %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="btn-close" data-dismiss="alert">&times;</button>
                <strong>Error</strong> {{ error }}
            </div>
        {% endif %}

        {{ form_start(form) }}

        <div class="row mb-3">
            <div class="col-12">
                <label class="mb-3">Nombre</label>
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-12">
                <label class="mb-3">Correo Electrónico</label>
                {{ form_widget(form.correo, {'attr': {'class': 'form-control'}}) }}
            </div>

        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label class="mb-3">Dirección del campo de entrenamiento</label>
                {{ form_widget(form.direccion_campo, {'attr': {'class': 'form-control'}}) }}

            </div>


        </div>

        <div class="row mb-3">
            <div class="col-12">
                <label class="mb-3">Foto (.JPG o .PNG)</label>
                {{ form_widget(form.fotoFile,{'attr':{'class':'form-control' }}) }}

            </div>


        </div>


        <div class="row mb-3">
            <div class="col-2">
                {{ form_row(form.guardar, {'attr':{'class':'btn btn-primary mt-5'}}) }}
            </div>


        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}