{% extends 'layout.html.twig' %}

{% block title %} {{ parent()}} Equipos{% endblock %}

{% block main_content %}
    <div class="card-columns mt-4 mb-4">
        <div class="row">
            {% for equipo in equipos %}
                <div class="col-4 mb-4">
                    <div class="card shadow">
                        <a href="#"><img class="card-img-top"
                                         src="{% if equipo.foto is empty %}/imgs/avatar.jpg{% else %}{{ asset('uploads/fotos/' ~ equipo.foto) }}{% endif %}"></a>
                        <div class="card-body mt-3">
                            <h5 class="card-title"><a href="#">{{ equipo.nombre }}</a></h5>
                            <div class="row">
                                <span class="label col-6">Correo:</span>
                                <span class="card-text col-6">{{ equipo.correo }}</span>
                            </div>

                            <div class="row">
                                <span class="label col-6">Dirección campo:</span>
                                <div class="col-6 text-muted">{{ equipo.direccionCampo }}</div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Editar <i class="fa fa-edit"></i></a>
                        </div>
                    </div>


                </div>


            {% endfor %}
        </div>

    </div>


{% endblock %}
