{% extends 'base.html.twig' %}

{% block title %}FutApp / {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="{{ path('fut_app_inicio') }}">
            <img src="{{ asset('imgs/logofutapp.png') }}"/> <span class="nombre_empresa">FutApp</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a {% if menuactivo('index')==1 %} class="nav-link -item_nav active" {% else %}class="nav-link -item_nav"  {% endif %}
                            href="{{ path('fut_app_inicio') }}">Inicio<span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a {% if menuactivo('usuarios')==1 %} class="nav-link -item_nav active" {% else %}class="nav-link -item_nav"  {% endif %} href="{{ path('futapp_usuarios') }}">Arbitros y Organizadores</a>
                </li>

                <li class="nav-item">
                    <a {% if menuactivo('equipos')==1 %} class="nav-link -item_nav active" {% else %}class="nav-link -item_nav"  {% endif %}
                            href="{{ path('futapp_equipos') }}">Equipos</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a {% if menuactivo('partidos/nuevo')==1 %} class="nav-link -item_nav active" {% else %}class="nav-link -item_nav"  {% endif %}
                                href="{{ path('fut_app_partidos_nuevo') }}">Asignar Partido</a>
                    </li>
                    <li class="nav-item">
                        <a {% if menuactivo('equipo_nuevo')==1 %} class="nav-link -item_nav active" {% else %}class="nav-link -item_nav"  {% endif %}
                                href="{{ path('futapp_equipos_form') }}">Añadir Equipo</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a {% if menuactivo('mi_perfil')==1 %} class="nav-link -item_nav active" {% else %}class="nav-link -item_nav"  {% endif %}
                                href="{{ path('futapp_usuario_yo') }}">Mi Perfil</a>
                    </li>

                {% endif %}


            </ul>

        </div>
        {% if not is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a {% if menuactivo('login')==1 %} class="nav-link -item_nav active" {% else %}class="nav-link -item_nav"  {% endif %} href="{{ path('futapp_login') }}">Entrar</a>
                </li>


                <li class="nav-item">
                    <a {% if menuactivo('registro')==1 %} class="nav-link -item_nav active" {% else %}class="nav-link -item_nav"  {% endif %} href="{{ path('futapp_register') }}">Registrarse</a>
                </li>
            </ul>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <div class="dropdown ml-auto" style="margin-right: 10px; width: 350px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <img src="{% if app.user.foto is empty %}/imgs/avatar.jpg{% else %}{{ asset('uploads/fotos/' ~  app.user.foto) }}{% endif %}"
                         class="col-3 rounded"/>

                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('futapp_usuario_yo') }}">Ver mi perfil</a>
                    <a class="dropdown-item" href="{{ path('futapp_usuario_edit_perfil', {id: app.user.id })}}">Editar Perfil</a>
                    <a class="nav-link logout" href="{{ path('futapp_logout') }}">Cerrar sesión</a>
                </div>
            </div>

        {% endif %}

    </nav>

    <div class="d-flex justify-content-center" id="spinner" style="margin-top: 400px">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <main class="container d-none" id="main">

        {% block main_content %}{% endblock %}


    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
